app.py
partial_data.json
data/1960.json
data/1961.json
data/1962.json
data/1963.json
data/1964.json
data/1965.json
data/1966.json
data/1967.json
data/1968.json
data/1969.json
data/1970.json
data/1971.json
data/1972.json
data/1973.json
data/1974.json
data/1975.json
data/1976.json
data/1977.json
data/1978.json
data/1979.json
data/1980.json
data/1981.json
data/1982.json
data/1983.json
data/1984.json
data/1985.json
data/1986.json
data/1987.json
data/1988.json
data/1989.json
data/1990.json
data/1991.json
data/1992.json
data/2022.csv
data/database.csv
